// Palette primary
$tiber: #173042;
$everglade: #215738;

// Palette secondary
$olivine: #9ec778;
$apple: #80bb50;
$hippieGreen: #579663;
$hippieBlue: #2350e2;

$promenade: #fcfbf3;
$glacier: #7da1ba;
$calypso: #246375;

$splash: #f0e89c;
$chenin: #dbd963;
$sundance: #c2b84d;

$coral: #f48888;
$pastelRed: #ff6262;
$fireOpal: #e65c5c;

$opal: #b6ced0;
$pewterBlue: #91b6bb;
$steelTeal: #4b858e;

// Colors
$white: #ffffff;
$whiteWhale: #f3f4f5;
$mystic: #e5ecf1;
$aliceBlue: #f5f8fa;
$aquaHaze: #f2f6f8;
$blackSqueeze: #f2f7fa;
$catskillWhite: #e9F0f4;
$paleSky: #6c7983;
$porcelain: #e7eaec;
$bigStone: #173042;
$porcelainLight: #f6f7f8;
$silver: #bebebe;
$botticelli: #bbcdcf;
$fruitSalad: #579663;
$radical-red: #fd5757;
$tacao: #ecb183;
$creamBrulee: #FDE599;
$lavenderGray: #c5cbd0;
$coolGray: #8b97a0;
$dirty-white: #ffffff80;
$dark-gray: #c4c4c44c;
$whisper: #ebebeb;
$black: #000000;
$darkGray: #5e5e5e;

$bgColor: $white;
$textColor: $paleSky;
$headerColor: $bigStone;
$stepsBg: $porcelainLight;
$selectedText: $bigStone;
$borderColor: $botticelli;
$primary: $fruitSalad;
$red: $radical-red;
$blueBackground: $blackSqueeze;

//icon colors
$iconGrey: $silver;
$iconGreen: $olivine;
$iconDark: $bigStone;
