//Arsenal
@font-face {
  font-family: "Arsenal-Bold";
  src: local("Arsenal-Bold"), url("../fonts/Arsenal/Arsenal-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Arsenal-BoldItalic";
  src: local("Arsenal-BoldItalic"), url("../fonts/Arsenal/Arsenal-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Arsenal-Italic";
  src: local("Arsenal-Italic"), url("../fonts/Arsenal/Arsenal-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Arsenal";
  src: local("Arsenal-Regular"), url("../fonts/Arsenal/Arsenal-Regular.ttf") format("truetype");
}

//Chivo
@font-face {
  font-family: "Chivo-Black";
  src: local("Chivo-Black"), url("../fonts/Chivo/Chivo-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Chivo-BlackItalic";
  src: local("Chivo-BlackItalic"), url("../fonts/Chivo/Chivo-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Chivo-Bold";
  src: local("Chivo-Bold"), url("../fonts/Chivo/Chivo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Chivo-BoldItalic";
  src: local("Chivo-BoldItalic"), url("../fonts/Chivo/Chivo-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Chivo-Italic";
  src: local("Chivo-Italic"), url("../fonts/Chivo/Chivo-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Chivo-Light";
  src: local("Chivo-Light"), url("../fonts/Chivo/Chivo-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Chivo-LightItalic";
  src: local("Chivo-LightItalic"), url("../fonts/Chivo/Chivo-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Chivo";
  src: local("Chivo-Regular"), url("../fonts/Chivo/Chivo-Regular.ttf") format("truetype");
}
