@use "src/styles/colors";
@import "src/styles/colors";

.container {
  h1 {
    color: $sundance;
    margin-bottom: 45px;
  }

  .hintContainer {
    padding: 25px;
  }

  .hintContainerTitleIcon {
    margin-left: -10px;
    margin-right: 10px;
    color: white;
  }


  h3 {
    color: white;
  }
}
