@use "../../styles/colors.scss";

.container {
  display: flex;
  flex-direction: column;
  background-color: colors.$tiber;
  box-sizing: border-box;

  .wrapper {
    width: 130px;
    margin-top: 20px;
    padding: 32px 24px;

    .logo {
      width: 100%;
      margin-bottom: 48px;
    }

    .menuItems {
      margin-top: 32px;

      h5 {
        color: white;
        margin-bottom: 8px;
      }

      .item {
        padding-top: 8px;
        padding-bottom: 8px;
        cursor: pointer;
        color: colors.$sundance;
        font-size: 12px;
        font-family: Arsenal;
        display: flex;
        line-height: 15px;
        white-space: nowrap;
        font-style: normal;
        font-weight: normal;

        &:hover {
          color: white;
        }
      }

      .activeItem {
        color: white;
        width: 154px;
        position: relative;
        left: -24px;
        padding-left: 24px;
        background-color: colors.$calypso;
      }
    }
  }

  .footer {
    margin-top: auto;
    padding: 32px 24px;

    hr {
      margin-bottom: 24px;
      color: colors.$opal;
    }

    .footerItem {
      margin-bottom: 16px;
      font-family: Chivo;
      cursor: pointer;
      font-style: normal;
      font-weight: normal;
      font-size: 8px;
      color: white;
      line-height: 10px;

      svg {
        width: 2em;
        height: 2em;
      }

      .footerText {
        position: relative;
        top: -4px;
        margin-left: 8px;
      }
    }

    &:hover {
      font-family: Chivo-Bold;
    }
  }

  p {
    text-align: right;
    color: white;
  }
}
